@page "/PackageList"

<PageTitle>ICE Package</PageTitle>

@using SageKing.Studio.Data
@using System.Collections.Concurrent

@inject PackagesDataService dataService

<h1>ICE Package</h1>

<p>ICE Package List</p>
<div>
    <label>发送信息</label>
    <input type="text" @bind="Message" width="200" />
    <button @onclick="Send">发送</button>
</div>
@if (dic == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>MsgType</th>
                <th>Count</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in dic)
            {
                <tr>
                    <td>@item.Key</td>
                    <td>@item.Value.Count</td>
                    <td>
                        <ul>

                            @foreach (var item2 in item.Value)
                            {
                                <li>
                                    @item2.GetString().FirstOrDefault()
                                </li>
                            }
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private ConcurrentDictionary<string, List<StreamPackage[]>>? dic;

    private string Message = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        dic = dataService.dataDic;
        await base.OnInitializedAsync();
    }
    private async void Send()
    {
        var result = await dataService.SendMsg(Message);

        StateHasChanged();
    }
}
