@inherits LayoutComponentBase

@inject NotificationService _notice
@inject PackagesDataService _package

<PageTitle>SageKing.Studio</PageTitle>


<Layout>
    <Header Style="position: fixed; z-index: 1; width: 100%; padding: 0 10px; ">
        <Flex Vertical="false">
            <div class="title">
                <b>SageKing.Studio</b>
            </div>
@*             <Menu Theme="MenuTheme.Dark" Mode="MenuMode.Horizontal" DefaultSelectedKeys=@(new []{"1"}) Style="height:64px;position:fixed; right:0px;">
                <MenuItem Key="1">
                    <NavLink href="#">
                        <span class="oi oi-home" aria-hidden="true"></span> 个人中心
                    </NavLink>
                </MenuItem>
                <MenuItem Key="2">
                    <NavLink href="#">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> 系统设置
                    </NavLink>
                </MenuItem>
            </Menu> *@
        </Flex>
    </Header>
    <Layout Class="site-layout" Style="padding:0; margin-top: 64px; ">
        <Sider @bind-Collapsed=@collapsed NoTrigger Style="overflow: auto; height: 100vh; position: fixed;left: 0;">
            <NavSysMenu collapsed="@collapsed" />
        </Sider>
        <Layout Class=@LeftMenuAutoHideClass>
            <div>
                @if (collapsed)
                {
                    <Icon Type="menu-unfold" Theme="outline" Class="trigger ma50d" OnClick="toggle" />
                }
                else
                {
                    <Icon Type="menu-fold" Theme="outline" Class="trigger ma50d" OnClick="toggle" />
                }
            </div>
            <Content Class="site-layout-background" Style=" padding: 20px; margin: 0; min-height: 380px; overflow: auto;">
                @Body
            </Content>
        </Layout>
    </Layout>
</Layout>

<style>
    .title {
        color: white;
        margin: 0 10px 0 10px;
    }

    .trigger {
        padding: 0;
        position: fixed;
        z-index: 999;
        width: 18px;
        height: 18px;
        cursor: pointer;
        transition: color 0.3s;
    }

    .maleft201 {
        margin-left: 201px;
    }

    .maleft121 {
        margin-left: 82px;
    }

    .ma50d {
        margin: 5px;
    }

    .trigger:hover {
        color: #1890ff;
    }


    .site-layout-background {
        background: #fff;
    }
</style>

@code {
    bool collapsed;
    bool isLoadNoticeAction = false;

    #region
    string LeftMenuAutoHideClass = "site-layout maleft201";
    #endregion

    protected override void OnInitialized()
    {
        if (!isLoadNoticeAction)
        {
            _package.NoticeAction += (msg, desc, type) =>
        {
            _notice.Open(new NotificationConfig()
                {
                    Message = msg,
                    Description = desc
                });
        };
            isLoadNoticeAction = true;
        }

        base.OnInitialized();
    }

    void toggle()
    {
        collapsed = !collapsed;
        if (!collapsed)
        {
            LeftMenuAutoHideClass = "site-layout maleft201";
        }
        else
        {
            LeftMenuAutoHideClass = "site-layout maleft121";
        }
    }

    void OnCollapse(bool isCollapsed)
    {
        Console.WriteLine($"Collapsed: {isCollapsed}");
    }
}